.body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#jumbo{
  margin-top: 30px;
  background-color: burlywood;

}

#burgerH{
  float: left;
  padding-left:55px;
  padding-right:55px;
  margin-bottom: 20px;
}

#burger1{
  width:25%;
  float: left;
}

#burger2{
  width:25%;
  float: right;
  margin-right: 0px;
}

#p-jumbo{
  clear: both;
  overflow: auto;
  margin-bottom: 10px;
}

.uneaten{
  margin: auto;
  width: 80%;
  background-color: darksalmon;
  padding: 10px;
  margin-bottom: 10px;
}

.eaten{
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  margin: auto;
  background-color: darkred;
}